#Importing Libraries

In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [ ]:
tf.__version__

'2.12.0'

#Importing the dataset

In [ ]:
features = pd.read_csv('features.csv')
stores = pd.read_csv('stores.csv')
training = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

#Data Preprocessing

Imputing the missing values

In [ ]:
mask = features['CPI'].isnull()
features['CPI'].fillna(method = 'ffill', inplace = True)
features['Unemployment'].fillna(method = 'ffill', inplace = True)

Converting Date string to datetime

In [ ]:
features['Date'] = pd.to_datetime(features['Date'])
training['Date'] = pd.to_datetime(training['Date'])
test['Date'] = pd.to_datetime(test['Date'])

Imputing missing values for the markdowns

In [ ]:
cutoff_date = pd.to_datetime('11/11/2011')  # Replace 'yyyy-mm-dd' with the actual date

# Calculate the mean of the known values store-wise
store_means1 = features[features['Date'] > cutoff_date].groupby('Store')['MarkDown1'].mean()

# Create a dictionary to map store-wise means to their respective stores
store_means_dict1 = store_means1.to_dict()

# Impute missing values with the store-wise means
features['MarkDown1'] = features.apply(lambda row: row['MarkDown1'] if pd.notnull(row['MarkDown1']) else store_means_dict1.get(row['Store']) , axis=1)

In [ ]:
cutoff_date = pd.to_datetime('11/11/2011')  # Replace 'yyyy-mm-dd' with the actual date

# Calculate the mean of the known values store-wise
store_means2 = features[features['Date'] > cutoff_date].groupby('Store')['MarkDown2'].mean()

# Create a dictionary to map store-wise means to their respective stores
store_means_dict2 = store_means2.to_dict()

# Impute missing values with the store-wise means
features['MarkDown2'] = features.apply(lambda row: row['MarkDown2'] if pd.notnull(row['MarkDown2']) else store_means_dict2.get(row['Store']) , axis=1)

In [ ]:
cutoff_date = pd.to_datetime('11/11/2011')  # Replace 'yyyy-mm-dd' with the actual date

# Calculate the mean of the known values store-wise
store_means3 = features[features['Date'] > cutoff_date].groupby('Store')['MarkDown3'].mean()

# Create a dictionary to map store-wise means to their respective stores
store_means_dict3 = store_means3.to_dict()

# Impute missing values with the store-wise means
features['MarkDown3'] = features.apply(lambda row: row['MarkDown3'] if pd.notnull(row['MarkDown3']) else store_means_dict3.get(row['Store']) , axis=1)

In [ ]:
cutoff_date = pd.to_datetime('11/11/2011')  # Replace 'yyyy-mm-dd' with the actual date

# Calculate the mean of the known values store-wise
store_means4 = features[features['Date'] > cutoff_date].groupby('Store')['MarkDown4'].mean()

# Create a dictionary to map store-wise means to their respective stores
store_means_dict4 = store_means4.to_dict()

# Impute missing values with the store-wise means
features['MarkDown4'] = features.apply(lambda row: row['MarkDown4'] if pd.notnull(row['MarkDown4']) else store_means_dict4.get(row['Store']) , axis=1)

In [ ]:
cutoff_date = pd.to_datetime('11/11/2011')  # Replace 'yyyy-mm-dd' with the actual date

# Calculate the mean of the known values store-wise
store_means5 = features[features['Date'] > cutoff_date].groupby('Store')['MarkDown5'].mean()

# Create a dictionary to map store-wise means to their respective stores
store_means_dict5 = store_means5.to_dict()

# Impute missing values with the store-wise means
features['MarkDown5'] = features.apply(lambda row: row['MarkDown5'] if pd.notnull(row['MarkDown5']) else store_means_dict5.get(row['Store']) , axis=1)

Converting datetime to numeric field

In [ ]:
features['Date'] = pd.to_numeric(features['Date'])
training['Date'] = pd.to_numeric(training['Date'])
test['Date'] = pd.to_numeric(test['Date'])

Merging datasets

In [ ]:
merger1 = pd.merge(training, features)
merger2 = pd.merge(merger1, stores)
merger3 = pd.merge(test, features)
merger4 = pd.merge(merger3, stores)

In [ ]:
print(merger4)

        Store  Dept                 Date  IsHoliday  Temperature  Fuel_Price  \
0           1     1  1351814400000000000      False        55.32       3.386
1           1     2  1351814400000000000      False        55.32       3.386
2           1     3  1351814400000000000      False        55.32       3.386
3           1     4  1351814400000000000      False        55.32       3.386
4           1     5  1351814400000000000      False        55.32       3.386
...       ...   ...                  ...        ...          ...         ...
115059     45    93  1374796800000000000      False        76.06       3.804
115060     45    94  1374796800000000000      False        76.06       3.804
115061     45    95  1374796800000000000      False        76.06       3.804
115062     45    97  1374796800000000000      False        76.06       3.804
115063     45    98  1374796800000000000      False        76.06       3.804

        MarkDown1  MarkDown2  MarkDown3  MarkDown4  MarkDown5         CPI  \
0         6766.44    5147.70      50.82    3639.90    2737.42  223.462779
1         6766.44    5147.70      50.82    3639.90    2737.42  223.462779
2         6766.44    5147.70      50.82    3639.90    2737.42  223.462779
3         6766.44    5147.70      50.82    3639.90    2737.42  223.462779
4         6766.44    5147.70      50.82    3639.90    2737.42  223.462779
...           ...        ...        ...        ...        ...         ...
115059     212.02     851.73       2.06      10.88    1864.57  193.589304
115060     212.02     851.73       2.06      10.88    1864.57  193.589304
115061     212.02     851.73       2.06      10.88    1864.57  193.589304
115062     212.02     851.73       2.06      10.88    1864.57  193.589304
115063     212.02     851.73       2.06      10.88    1864.57  193.589304

        Unemployment Type    Size
0              6.573    A  151315
1              6.573    A  151315
2              6.573    A  151315
3              6.573    A  151315
4              6.573    A  151315
...              ...  ...     ...
115059         8.335    B  118221
115060         8.335    B  118221
115061         8.335    B  118221
115062         8.335    B  118221
115063         8.335    B  118221

[115064 rows x 15 columns]

Encoding Categorical Data

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct1 = ColumnTransformer(transformers = [('encoder', OneHotEncoder(), [14])], remainder = 'passthrough')
ct2 = ColumnTransformer(transformers = [('encoder', OneHotEncoder(), [13])], remainder = 'passthrough')
merger2 = np.array(ct1.fit_transform(merger2))
merger4 = np.array(ct2.fit_transform(merger4))

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
merger2[:, 7] = le.fit_transform(merger2[:, 7])
merger4[:, 6] = le.fit_transform(merger4[:, 6])

#Splitting the dataset into x and y

In [ ]:
x_train = merger2[:, (0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17)]
y_train = merger2[:, (6)]

In [ ]:
print(x_train[:5, :])

[[1.0 0.0 0.0 1 1 0 42.31 2.572 8515.847752808988 3307.9398611111114
  1687.340340909091 3667.6428089887645 4404.452471910113 211.0963582
  8.106 151315]
 [1.0 0.0 0.0 1 2 0 42.31 2.572 8515.847752808988 3307.9398611111114
  1687.340340909091 3667.6428089887645 4404.452471910113 211.0963582
  8.106 151315]
 [1.0 0.0 0.0 1 3 0 42.31 2.572 8515.847752808988 3307.9398611111114
  1687.340340909091 3667.6428089887645 4404.452471910113 211.0963582
  8.106 151315]
 [1.0 0.0 0.0 1 4 0 42.31 2.572 8515.847752808988 3307.9398611111114
  1687.340340909091 3667.6428089887645 4404.452471910113 211.0963582
  8.106 151315]
 [1.0 0.0 0.0 1 5 0 42.31 2.572 8515.847752808988 3307.9398611111114
  1687.340340909091 3667.6428089887645 4404.452471910113 211.0963582
  8.106 151315]]

In [ ]:
print(merger2[:5, :])

[[1.0 0.0 0.0 1 1 1265328000000000000 24924.5 0 42.31 2.572
  8515.847752808988 3307.9398611111114 1687.340340909091
  3667.6428089887645 4404.452471910113 211.0963582 8.106 151315]
 [1.0 0.0 0.0 1 2 1265328000000000000 50605.27 0 42.31 2.572
  8515.847752808988 3307.9398611111114 1687.340340909091
  3667.6428089887645 4404.452471910113 211.0963582 8.106 151315]
 [1.0 0.0 0.0 1 3 1265328000000000000 13740.12 0 42.31 2.572
  8515.847752808988 3307.9398611111114 1687.340340909091
  3667.6428089887645 4404.452471910113 211.0963582 8.106 151315]
 [1.0 0.0 0.0 1 4 1265328000000000000 39954.04 0 42.31 2.572
  8515.847752808988 3307.9398611111114 1687.340340909091
  3667.6428089887645 4404.452471910113 211.0963582 8.106 151315]
 [1.0 0.0 0.0 1 5 1265328000000000000 32229.38 0 42.31 2.572
  8515.847752808988 3307.9398611111114 1687.340340909091
  3667.6428089887645 4404.452471910113 211.0963582 8.106 151315]]

In [ ]:
x_test = merger4[:, (0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)]

In [ ]:
print(merger4[:5, :])

[[1.0 0.0 0.0 1 1 1351814400000000000 0 55.32 3.386 6766.44 5147.7 50.82
  3639.9 2737.42 223.4627793 6.573 151315]
 [1.0 0.0 0.0 1 2 1351814400000000000 0 55.32 3.386 6766.44 5147.7 50.82
  3639.9 2737.42 223.4627793 6.573 151315]
 [1.0 0.0 0.0 1 3 1351814400000000000 0 55.32 3.386 6766.44 5147.7 50.82
  3639.9 2737.42 223.4627793 6.573 151315]
 [1.0 0.0 0.0 1 4 1351814400000000000 0 55.32 3.386 6766.44 5147.7 50.82
  3639.9 2737.42 223.4627793 6.573 151315]
 [1.0 0.0 0.0 1 5 1351814400000000000 0 55.32 3.386 6766.44 5147.7 50.82
  3639.9 2737.42 223.4627793 6.573 151315]]

Formatting the matrices to numpy arrays

In [ ]:
x_train = np.asarray(x_train).astype(np.float32)
x_test = np.asarray(x_test).astype(np.float32)
y_train = np.asarray(y_train).astype(np.float32)

In [ ]:
print(x_test.dtype)

float32

In [ ]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)

(421570, 16)
(421570,)
(115064, 16)

In [ ]:
print(x_train[:5, :])

[[1.00e+00 0.00e+00 0.00e+00 1.00e+00 1.00e+00 0.00e+00 4.23e+01 2.57e+00
  8.52e+03 3.31e+03 1.69e+03 3.67e+03 4.40e+03 2.11e+02 8.11e+00 1.51e+05]
 [1.00e+00 0.00e+00 0.00e+00 1.00e+00 2.00e+00 0.00e+00 4.23e+01 2.57e+00
  8.52e+03 3.31e+03 1.69e+03 3.67e+03 4.40e+03 2.11e+02 8.11e+00 1.51e+05]
 [1.00e+00 0.00e+00 0.00e+00 1.00e+00 3.00e+00 0.00e+00 4.23e+01 2.57e+00
  8.52e+03 3.31e+03 1.69e+03 3.67e+03 4.40e+03 2.11e+02 8.11e+00 1.51e+05]
 [1.00e+00 0.00e+00 0.00e+00 1.00e+00 4.00e+00 0.00e+00 4.23e+01 2.57e+00
  8.52e+03 3.31e+03 1.69e+03 3.67e+03 4.40e+03 2.11e+02 8.11e+00 1.51e+05]
 [1.00e+00 0.00e+00 0.00e+00 1.00e+00 5.00e+00 0.00e+00 4.23e+01 2.57e+00
  8.52e+03 3.31e+03 1.69e+03 3.67e+03 4.40e+03 2.11e+02 8.11e+00 1.51e+05]]

In [ ]:
print(y_train)

[24924.5  50605.27 13740.12 ... 56017.47  6817.48  1076.8 ]

#Feature Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train[:, 6:] = sc.fit_transform(x_train[:, 6:])
x_test[:, 6:] = sc.transform(x_test[:, 6:])

In [ ]:
print(x_train[:5, :])

[[ 1.    0.    0.    1.    1.    0.   -0.96 -1.72  0.21  0.04  0.01  0.16
  -0.01  1.02  0.08  0.24]
 [ 1.    0.    0.    1.    2.    0.   -0.96 -1.72  0.21  0.04  0.01  0.16
  -0.01  1.02  0.08  0.24]
 [ 1.    0.    0.    1.    3.    0.   -0.96 -1.72  0.21  0.04  0.01  0.16
  -0.01  1.02  0.08  0.24]
 [ 1.    0.    0.    1.    4.    0.   -0.96 -1.72  0.21  0.04  0.01  0.16
  -0.01  1.02  0.08  0.24]
 [ 1.    0.    0.    1.    5.    0.   -0.96 -1.72  0.21  0.04  0.01  0.16
  -0.01  1.02  0.08  0.24]]

#Building the ANN

Intiailizing the ANN

In [ ]:
ann = tf.keras.models.Sequential()

Adding the input layer and the first hidden layer

In [ ]:
ann.add(tf.keras.layers.Dense(units = 32, activation = 'relu'))

Adding the second hidden layer

In [ ]:
ann.add(tf.keras.layers.Dense(units = 64, activation = 'relu'))

Adding the third hidden layer

In [ ]:
ann.add(tf.keras.layers.Dense(units = 64, activation = 'relu'))

Adding the output layer

In [ ]:
ann.add(tf.keras.layers.Dense(units = 1))

#Training the ANN

Compiling the ANN

In [ ]:
ann.compile(optimizer = 'adam', loss = tf.keras.losses.MeanAbsoluteError())

Training the ANN

In [ ]:
ann.fit(x_train, y_train, batch_size = 64, epochs = 50)

Epoch 1/50
6588/6588 [==============================] - 27s 4ms/step - loss: 9988.3008
Epoch 2/50
6588/6588 [==============================] - 17s 3ms/step - loss: 9884.9541
Epoch 3/50
6588/6588 [==============================] - 16s 2ms/step - loss: 9745.2832
Epoch 4/50
6588/6588 [==============================] - 16s 2ms/step - loss: 9599.4902
Epoch 5/50
6588/6588 [==============================] - 16s 2ms/step - loss: 9453.1074
Epoch 6/50
6588/6588 [==============================] - 17s 3ms/step - loss: 9330.5264
Epoch 7/50
6588/6588 [==============================] - 17s 3ms/step - loss: 9210.5576
Epoch 8/50
6588/6588 [==============================] - 16s 2ms/step - loss: 9114.8252
Epoch 9/50
6588/6588 [==============================] - 17s 3ms/step - loss: 9027.1777
Epoch 10/50
6588/6588 [==============================] - 17s 3ms/step - loss: 8969.8096
Epoch 11/50
6588/6588 [==============================] - 17s 3ms/step - loss: 8906.5479
Epoch 12/50
6588/6588 [==============================] - 17s 3ms/step - loss: 8856.2529
Epoch 13/50
6588/6588 [==============================] - 17s 3ms/step - loss: 8823.9756
Epoch 14/50
6588/6588 [==============================] - 15s 2ms/step - loss: 8786.8896
Epoch 15/50
6588/6588 [==============================] - 15s 2ms/step - loss: 8745.6123
Epoch 16/50
6588/6588 [==============================] - 15s 2ms/step - loss: 8708.8477
Epoch 17/50
6588/6588 [==============================] - 15s 2ms/step - loss: 8675.7207
Epoch 18/50
6588/6588 [==============================] - 16s 2ms/step - loss: 8656.1572
Epoch 19/50
6588/6588 [==============================] - 16s 2ms/step - loss: 8617.8105
Epoch 20/50
6588/6588 [==============================] - 16s 2ms/step - loss: 8597.3574
Epoch 21/50
6588/6588 [==============================] - 17s 3ms/step - loss: 8575.6494
Epoch 22/50
6588/6588 [==============================] - 16s 2ms/step - loss: 8562.7910
Epoch 23/50
6588/6588 [==============================] - 16s 2ms/step - loss: 8539.3594
Epoch 24/50
6588/6588 [==============================] - 16s 2ms/step - loss: 8521.5254
Epoch 25/50
6588/6588 [==============================] - 15s 2ms/step - loss: 8500.7207
Epoch 26/50
6588/6588 [==============================] - 15s 2ms/step - loss: 8488.0518
Epoch 27/50
6588/6588 [==============================] - 17s 3ms/step - loss: 8451.1299
Epoch 28/50
6588/6588 [==============================] - 15s 2ms/step - loss: 8444.3730
Epoch 29/50
6588/6588 [==============================] - 17s 3ms/step - loss: 8417.5303
Epoch 30/50
6588/6588 [==============================] - 16s 2ms/step - loss: 8409.1299
Epoch 31/50
6588/6588 [==============================] - 17s 3ms/step - loss: 8375.7002
Epoch 32/50
6588/6588 [==============================] - 15s 2ms/step - loss: 8353.5684
Epoch 33/50
6588/6588 [==============================] - 16s 2ms/step - loss: 8326.7783
Epoch 34/50
6588/6588 [==============================] - 15s 2ms/step - loss: 8301.8223
Epoch 35/50
6588/6588 [==============================] - 16s 2ms/step - loss: 8280.8535
Epoch 36/50
6588/6588 [==============================] - 16s 2ms/step - loss: 8263.0254
Epoch 37/50
6588/6588 [==============================] - 16s 2ms/step - loss: 8245.2285
Epoch 38/50
6588/6588 [==============================] - 16s 2ms/step - loss: 8225.7969
Epoch 39/50
6588/6588 [==============================] - 15s 2ms/step - loss: 8201.3848
Epoch 40/50
6588/6588 [==============================] - 17s 3ms/step - loss: 8183.4644
Epoch 41/50
6588/6588 [==============================] - 18s 3ms/step - loss: 8157.5654
Epoch 42/50
6588/6588 [==============================] - 16s 3ms/step - loss: 8136.2705
Epoch 43/50
6588/6588 [==============================] - 17s 3ms/step - loss: 8126.9736
Epoch 44/50
6588/6588 [==============================] - 17s 3ms/step - loss: 8098.6963
Epoch 45/50
6588/6588 [==============================] - 17s 3ms/step - loss: 8088.1768
Epoch 46/50
6588/6588 [==============================] - 16s 2ms/step - loss: 8063.6914
Epoch 47/50
6588/6588 [==============================] - 16s 2ms/step - loss: 8047.9341
Epoch 48/50
6588/6588 [==============================] - 15s 2ms/step - loss: 8039.9473
Epoch 49/50
6588/6588 [==============================] - 14s 2ms/step - loss: 8025.8096
Epoch 50/50
6588/6588 [==============================] - 14s 2ms/step - loss: 8000.8320

#Predicting the values for the test set

In [ ]:
y_pred = ann.predict(x_test)
np.set_printoptions(precision = 2)
print(y_pred)

3596/3596 [==============================] - 5s 1ms/step
[[27294.47]
 [25879.03]
 [24471.97]
 ...
 [ 7256.14]
 [ 4342.17]
 [ 3086.18]]